*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/repositories.xml
/.idea/caches
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin/
app/build/
*.ap_
*.apk
*.dex
